.root {
    -fx-background-color: #FFFFFF;
}

#stackPaneMain {
    -fx-background-color: #f5f6f9;
}

#stackPaneContent {
    -fx-background-color: #ebedf4;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 0; /* 0 3 0 3 */
}

.toggle-button {
    -fx-border-color: #FFF;
    -fx-border-width: 0;
    -fx-pref-width: 32;
    -fx-pref-height: 32;
    -fx-background-insets: 0;
    -fx-background-color: #FFF;
}
.list-view{
    -fx-background-insets: 0;
}

#tab1 {
    -fx-background-size: 32 32;
    -fx-background-image: url('../img/tab1_nor.png');
}

#tab1:selected {
    -fx-background-size: 32 32;
    -fx-background-image: url('../img/tab1_press.png');
}

#tab2 {
    -fx-background-size: 32 32;
    -fx-background-image: url('../img/tab2_nor.png');
}

#tab2:selected {
    -fx-background-size: 32 32;
    -fx-background-image: url('../img/tab2_press.png');
}

#tab3 {
    -fx-background-size: 32 32;
    -fx-background-image: url('../img/tab3_nor.png');
}

#tab3:selected {
    -fx-background-size: 32 32;
    -fx-background-image: url('../img/tab3_press.png');
}
